name: Test Env Only

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: |
          echo "Image: ${{ inputs.image-name }}"
          echo "Registry: $REGISTRY"
