name: Test No Concurrency

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      deploy-path:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Echo inputs
        run: |
          echo "Image: ${{ inputs.image-name }}"
          echo "Path: ${{ inputs.deploy-path }}"
