name: Test Perms Only

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Echo
        run: echo "Image ${{ inputs.image-name }}"
