name: Test Build Only

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      deploy-path:
        required: true
        type: string
      docker-context:
        required: false
        type: string
        default: '.'
      concurrency-group:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ inputs.concurrency-group }}
      cancel-in-progress: true
    permissions:
      contents: read
      packages: write
    steps:
      - name: Echo inputs
        run: |
          echo "Image: ${{ inputs.image-name }}"
          echo "Path: ${{ inputs.deploy-path }}"
          echo "Context: ${{ inputs.docker-context }}"
