name: Minimal Test

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo message
        run: echo "${{ inputs.message }}"
